/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  font-size: 14px;
  /*background-color: #d9ead3;*/
  color: #444;
  background-color: #fff;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body, input, select {
  font-family: sans-serif;
}

strong {
  font-weight: bold;
}

input[type=text].error {
  border: 1px solid rgba(255, 0, 0, 0.4);
}

input[type=text],
select {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ddd;
  background-color: white;
  height: 2em;
}

input:focus {
  outline: none;
}

body {
  padding: 2em;
  /*font-family: "Georgia";*/
}

.list > div {
  margin-top: 1em;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 1em;
  width: 20em;
}

.list {
  /*margin-top: 2em;*/
}

.filter {
  margin-bottom: 1em;
}

.filter select {
  width: 20em;
}

.loading{
  width:160px;
  height:160px;
  border-radius:150px;
  border:15px solid #fff;
  border-top-color:rgba(0,0,0,0.3);
  box-sizing:border-box;
  position:absolute;
  top:50%;left:50%;
  margin-top:-80px;
  margin-left:-80px;
  animation:loading 1.2s linear infinite;
  -webkit-animation:loading 1.2s linear infinite;
}
@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}

body {
  font-size: 2.2vh;
}

h2 {
  font-size: 3vh;
}

h3 {
  font-size: 2.5vh;
}


.typeahead {
  float: left;
  clear: both;
  position: relative;
  margin-bottom: 1em;
}

.typeahead ul {
  float: left;
  margin-top: 0.25em;
  clear: both;
}

.typeahead li {
  padding-left: 0.5em;
}

.typeahead li:hover,
.typeahead .active {
  color: crimson;
  cursor: pointer;
}

.typeahead input[type=text] {
  float: left;
}

.typeahead small {
  font-size: 75%;
}